{% extends "base.html" %}

{% block content %}

<script src='static/js/upload.js' type="text/javascript"></script>

<h2 style="color: white">Hello, here you can upload a picture of a document which you would like to extract information from an OCR Engine and Deep model - <a herf='https://arxiv.org/abs/1912.13318'>LayoutLM</a> </h2>

<div class="ui action input">
    <input type="text" placeholder="Image to be uploaded" readonly>
    <input type="file" id="image_file">
    <div class="ui icon button">
        <i class="attach icon"></i>
    </div>
    <!-- <input class="btn btn-secondary" type="file"  placeholder="Image to be uploaded"></input> -->
</div>
<style>
    .ui.action.input input[type="file"] {
            display: none;
            }

    body{
        background-image: url('static/images/c_dots.jpg') !important;
        background-size: cover !important;
    }
</style>

<script>
    //  used from http://jsfiddle.net/Dr_Dev/2nu1ngk5

    $("input:text").click(function() {
        $(this).parent().find("input:file").click();
    });
  
    $('input:file', '.ui.action.input')
        .on('change', function(e) {
            var name = e.target.files[0].name;
            $('input:text', $(e.target).parent()).val(name);
    });
</script>

<br>
<button class="ui primary button" onclick="perform_OCR()" style="margin-top:2%; margin-bottom:2%">
    Upload Image
</button>

<div class= "ui large images" id="overlayed_image">
    <div class="ui container">
        <div class="ui two column grid centered">
            <div class="column">
            <div class="ui segment">
                <h3>OCR</h3>
                <img class="image_1 ui fluid image" src="#" style="width:100%"></img>
            </div>
            </div>
            <div class="column">
            <div class="ui segment">
                <h3>LayoutLM Predictions</h3>
                <img class="image_2 ui fluid image" src="#" style="width:100%"></img>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}